.DS_Store

# Flutter
.dart_tool/
.flutter-plugins*
.packages
build/
**/.dart_tool/
**/build/
**/.flutter-plugins*
**/.packages

# Python backend
venv/
.venv/
.env
__pycache__/
.pytest_cache/
**/venv/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.env

# General
*.log
.idea/
.vscode/
*.swp

# Backups
__backup_20251218-200140/